---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '@/components/FormattedDate.astro';
import Layout from '@/layouts/Layout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout title={title} description={description} image={heroImage}>
  <article class="section">
    <div class="mb-6">
      {heroImage && <Image src={heroImage} alt="" />}
      <h1 class="text-4xl font-bold">{title}</h1>
      <div class="text-muted-foreground">
        <em>
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <span>
                UPD: <FormattedDate date={updatedDate} />
              </span>
            )
          }
        </em>
      </div>
      <hr />
    </div>
    <div class="text-justify prose">
      <slot />
    </div>
  </article>
</Layout>
